/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* TAILWINDCSS */
@import "tailwindcss";

@theme {
  /* FONTS */
  --font-poppins: "Poppins", sans-serif;
  --font-imfell: "IM Fell Double Pica", serif;

  /* COLORS */
  --color-dark: #252525;

  --color-gold-300: #e6cc84;
  --color-gold-400: #dbb95e;
  --color-gold-500: #d6b15d;
  --color-gold-600: #b89545;
  --color-gold-700: #947437;
}

@layer base {
  :root {
    font-family: "IM Fell Double Pica", serif;
    background-color: var(--color-dark);
    color: var(--color-white);
  }
}
